.definition-p::before {
  counter-increment: theorem; 
  content: "Definition "; 
}
.definition-p[data-label]::before {
  font-weight: bold;
  content: "Definition (" attr(data-label) ")";
}

.definition-p  {
  padding: 1em;
  background: #ffebef;
  color: black;
  border: 2px solid #ed1841;
  border-radius: 20px;
}